---
const { honeyName } = Astro.props;
const { fulllPrice } = Astro.props;
const { halfPrice } = Astro.props;
const { fullWeight } = Astro.props;
const { halfWeight } = Astro.props;
const { image } = Astro.props;
const { altText } = Astro.props;
---

<div class="list-item">
  <img class="list-image" src={image} style="width:100%" alt={altText} />
  <div class="honey-title">{honeyName}</div>
  <div class="honey-price-container">
    <div class="honey-weight">{fullWeight}</div>
    <div class="honey-price">{fulllPrice}</div>
    <div class="honey-weight">{halfWeight}</div>
    <div class="honey-price">{halfPrice}</div>
  </div>
</div>
