---
import ListItem from "./ListItem.astro";
import image1 from "../assets/akac.jpeg";
import image2 from "../assets/repce.jpg";
import image3 from "../assets/napraforgo.jpg";
import image4 from "../assets/vodor.jpeg";
import image5 from "../assets/viragpor.jpeg";
import image6 from "../assets/fadoboz.jpg";
import image7 from "../assets/diszdoboz1.jpg";
import image8 from "../assets/diszdoboz2.jpg";
import image9 from "../assets/diszdoboz3.jpg";

const listTitle = "Termékeink";
const akacName = "Akácméz";
const akacFullPrice = "3000 Ft";
const akacHalfPrice = "1500 Ft";
const repceName = "Repceméz";
const repceFullPrice = "2500 Ft";
const repceHalfPrice = "1500 Ft";
const napraforgoName = "Napraforgó méz";
const napraforgoFullPrice = "2500 Ft";
const napraforgoHalfPrice = "1500 Ft";
const napraforgoBucketWeight = "7 kg";
const napraforgoBucketPrice = "1800 Ft/kg";
const halfWeight = "500 g";
const fullWeight = "1000 g";
const viragporName = "Virágpor";
const viragporWeight = "20 dkg";
const viragporPrice = "2000 Ft";
const fadobozName = "Fadobozos kiszerelés";
const fadobozWeight = "1000 g";
const fadobozPrice = "6000 Ft";
const diszDoboz1Name = "Díszdobozos kiszerelés";
const diszDoboz1Weight = "1000 g";
const diszDoboz1Price = "4000 Ft";
const diszDoboz2Name = "Díszdobozos kiszerelés";
const diszDoboz2Weight = "2 x 500 g";
const diszDoboz2Price = "4000 Ft";
const diszDoboz3Name = "Díszdobozos kiszerelés";
const diszDoboz3Weight = "3 x 140 g";
const diszDoboz3Price = "3000 Ft";
---

<h2>{listTitle}</h2>
<div class="list-container">
  <ListItem
    image={image1}
    honeyName={akacName}
    fulllPrice={akacFullPrice}
    halfPrice={akacHalfPrice}
    fullWeight={fullWeight}
    halfWeight={halfWeight}
  />
  <ListItem
    image={image2}
    honeyName={repceName}
    fulllPrice={repceFullPrice}
    halfPrice={repceHalfPrice}
    fullWeight={fullWeight}
    halfWeight={halfWeight}
  />
  <ListItem
    image={image3}
    honeyName={napraforgoName}
    fulllPrice={napraforgoFullPrice}
    halfPrice={napraforgoHalfPrice}
    fullWeight={fullWeight}
    halfWeight={halfWeight}
  />
  <ListItem
    image={image4}
    honeyName={napraforgoName}
    fulllPrice={napraforgoBucketPrice}
    fullWeight={napraforgoBucketWeight}
  />
  <ListItem
    image={image5}
    honeyName={viragporName}
    fulllPrice={viragporPrice}
    fullWeight={viragporWeight}
  />
  <ListItem
    image={image6}
    honeyName={fadobozName}
    fulllPrice={fadobozPrice}
    fullWeight={fadobozWeight}
  />
  <ListItem
    image={image7}
    honeyName={diszDoboz1Name}
    fulllPrice={diszDoboz1Price}
    fullWeight={diszDoboz1Weight}
  />
  <ListItem
    image={image8}
    honeyName={diszDoboz2Name}
    fulllPrice={diszDoboz2Price}
    fullWeight={diszDoboz2Weight}
  />
  <ListItem
    image={image9}
    honeyName={diszDoboz3Name}
    fulllPrice={diszDoboz3Price}
    fullWeight={diszDoboz3Weight}
  />
</div>
